<div id="wrapper" class="all_contact">

<div class="jumbotron jumbo">
   <div class="row">
      <a ui-sref='home' class="top_nav_icon">Home</a>
      <a ui-sref='about' class="top_nav_icon">About</a>
      <a ui-sref='contact' class="top_nav_icon">Contact</a>
   </div>
</div>
<acme-navbar creation-date="main.creationDate"></acme-navbar>
        <!-- Page content -->
        <div id="page-content-wrapper">

<div class="page-content inset" data-spy="scroll" data-target="#spy">
    <div class="row">
        <div class="container">

   <div class="jumbotron text-center">
    {{'contact_page' | translate}}
</div>
        </div>
    </div>
</div>
</div>
</div>
