
<!-- Sidebar -->
<div id="sidebar-wrapper">
    <nav id="spy">
       <div class="logo">
           <span class="glyphicon glyphicon-home home"></span>
       </div>
        <ul class="sidebar-nav nav">
            <li class="sidebar-brand">
                <a ui-sref="home">
                    <span>Home</span>
                </a>

            </li>
            <li>
                <a ui-sref="about">
                    <span>About</span>
                </a>
            </li>
            <li>
                <a ui-sref="contact" >
                    <span>Contact</span>
                </a>
            </li>

        </ul>
        <div class="upgrade">

            <button class="btn btn-success">Upgrade Account</button>
        </div>

    </nav>
</div>
