#sidebar-wrapper {

  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: black;
  position: fixed;
  height: 100%;
  overflow-y: auto;
//  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#wrapper.active {
  padding-left: 0;
}

#wrapper.active #sidebar-wrapper {
  left: 0;
}

#page-content-wrapper {
  width: 100%;
}



.sidebar-nav {
  position: absolute;
//  top: 30%;
  width: 240px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {

  color: #999999;
  display: flex;
    justify-content: center;
  text-decoration: none;
//  padding-left: 60px;
}





.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

#menu-toggle {
    text-decoration: none;
}

.btn-menu {
  color: #000;
}

.inset {
  padding: 20px;
}

@media (max-width:767px) {

#wrapper {
  padding-left: 0;
}

#sidebar-wrapper {
  left: 0;
}

#wrapper.active {
  position: relative;
  left: 250px;
}

#wrapper.active #sidebar-wrapper {
  left: 250px;
  width: 250px;
  transition: all 0.4s ease 0s;
}

#menu-toggle {
  display: inline-block;
}

}

.logo{

    height: 200px;
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;

}
@media (max-width:1400px) {
    #sidebar-wrapper {
        display: none;
    }
    #wrapper{
        padding: 0;
    }
}
.home{
    margin-left: 15px;
}
.upgrade{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 250px;
    height: 50px;
    align-items: center;
}
.nav_icon{

    font-size: 20px;
    margin-right: 10px;

}

