
<!-- Sidebar -->
<div id="sidebar-wrapper">
    <nav id="spy">
        <ul class="sidebar-nav nav">
            <li class="sidebar-brand">
                <a ui-sref="home"><span class="fa fa-home solo">Home</span></a>
            </li>
            <li>
                <a ui-sref="about" data-scroll>
                    <span class="fa fa-anchor solo">About</span>
                </a>
            </li>
            <li>
                <a ui-sref="contact" data-scroll>
                    <span class="fa fa-anchor solo">Contact</span>
                </a>
            </li>

        </ul>

    </nav>
</div>
