
<!-- Sidebar -->
<div id="sidebar-wrapper">
    <nav id="spy">
       <div class="logo">

               <img style="height:80px;width:80px;" src="http://icons.iconarchive.com/icons/martz90/circle/512/dropbox-icon.png" alt="">

       </div>
        <ul class="sidebar-nav nav">
            <li class="sidebar-brand">
                <a class="red_icon" ui-sref="home">
                    <span class="nav_icon">Home</span>
                </a>
                <hr>
            </li>

            <li>

                <a class="blue_icon" ui-sref="about">
                    <span class="nav_icon">About</span>
                </a>
               <hr>
            </li>

            <li>
                <a class="green_icon"  ui-sref="contact" >
                    <span class="nav_icon">Contact</span>
                </a>
            </li>

        </ul>
        <div class="upgrade">

            <button class="btn btn-primary">Upgrade Account</button>
        </div>

    </nav>
</div>
